.col-2 {
  width: 306px;
  margin: 0 3px; }

.col-half {
  width: 460px;
  margin: 0 3px; }

.col-4 {
  width: 612px;
  margin: 0 3px; }

.dark-grey {
  background: #2b2937;
  color: #e6e6e6; }

.rounded {
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 10px; }

.row {
  display: inline-flex;
  margin-bottom: 10px; }

.opac-50 {
  opacity: 0.5; }

a {
  text-decoration: none; }
  a:visited {
    text-decoration: none; }

body {
  font-family: 'Open Sans';
  background: #252525;
  margin: 0; }
  body #container {
    background: linear-gradient(135deg, #638cb8, #682e95, #7645b8);
    height: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 960px; }
    body #container #navbar {
      border-radius: 6px;
      font-size: 15px; }
      body #container #navbar ul {
        display: flex;
        list-style: none;
        margin: 0 auto;
        padding-left: 16px; }
        body #container #navbar ul li {
          border-left: 2px solid #31333f;
          margin: 20px 0;
          padding: 0 10px; }
          body #container #navbar ul li a {
            color: #9fa5c5; }
            body #container #navbar ul li a:hover {
              color: #e6e6e6; }
        body #container #navbar ul li.active {
          border: none; }
          body #container #navbar ul li.active a {
            color: #84fdd0; }
    body #container #subnav a {
      color: #e6e6e6;
      font-size: 12px; }
      body #container #subnav a:hover {
        color: #84fdd0; }
    body #container #subnav ul {
      display: flex;
      list-style: none;
      margin: 0 auto;
      padding: 0; }
      body #container #subnav ul li {
        padding: 5px; }
    body #container #search button {
      background: #89a4ff;
      color: #e6e6e6; }
    body #container #search #googleMap {
      border-radius: 6px; }
    body #container #user-menu {
      border-radius: 6px;
      height: 2.2em;
      padding: 2.7px 10px; }
      body #container #user-menu ul {
        display: inline-flex;
        margin: 0;
        padding-left: 20px; }
        body #container #user-menu ul li {
          list-style: none;
          margin-right: 15px; }
        body #container #user-menu ul #user-photo img {
          border-radius: 100%;
          width: 2em; }
        body #container #user-menu ul #user-name {
          font-size: 25px;
          font-weight: lighter; }
        body #container #user-menu ul #user-button {
          font-size: 25px; }
    body #container #user-stats {
      padding: 0; }
      body #container #user-stats #portada {
        height: 150px; }
        body #container #user-stats #portada img {
          border-radius: 6px 6px 0 0;
          height: 150px;
          width: 306px; }
      body #container #user-stats #about ul {
        list-style: none;
        display: inline-flex;
        margin: 0 auto;
        padding: 10px 0; }
        body #container #user-stats #about ul li {
          padding-left: 20px; }
          body #container #user-stats #about ul li img {
            border: 3px solid #e6e6e6;
            border-radius: 100%;
            height: 60px;
            width: 60px; }
          body #container #user-stats #about ul li span {
            color: #ffe79e; }
      body #container #user-stats #about p {
        color: #9996ab;
        font-size: 12px;
        margin: 0 auto;
        padding: 0 20px 10px; }
      body #container #user-stats #stats {
        background: #403b5b;
        border-radius: 0 0 6px 6px;
        color: #63687c;
        font-size: 12px; }
        body #container #user-stats #stats ul {
          display: inline-flex;
          list-style: none;
          padding-left: 0; }
          body #container #user-stats #stats ul li {
            padding-left: 20px;
            text-align: center; }
            body #container #user-stats #stats ul li img {
              width: 60px;
              margin: 0; }
            body #container #user-stats #stats ul li span {
              border-bottom: 1px solid #63687c;
              color: #e6e6e6;
              font-size: 20px; }

/*# sourceMappingURL=style.css.map */
