

body {
  background: radial-gradient(93.59% 93.59% at 12.36% 6.41%, #272C44 0%, rgb(21, 17, 37) 100%)
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  color: white;
  min-height: 100vh;
  background-attachment: fixed; /* Fija el fondo al viewport */
  background-size: cover; /* Asegura que el gradiente cubra el área visible */
  background-repeat: no-repeat; /* Evita que el gradiente se repita */
}

ul {
  list-style: none;
}

ul li{
  margin-top: 1rem;
}

.button-github {
  background-color: #7349ab !important;
  border-color: #7349ab !important;
}

.button-github:hover {
  background-color: #4a2f6d !important;
  border-color: #4a2f6d;
}

.changa-one-regular {
  font-family: "Changa One", serif;
  font-weight: 400;
  font-style: normal;
}

.duolingo-logo{
  max-width: 80px;
}

.fab-right {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
}

.fab-left {
  position: fixed !important;
  bottom: 16px;
  left: 16px;
}

.img-skill {
  max-width: 45px;
}

.mb-5rem{
  margin-bottom: 5rem;
}

.mt-5rem{
  margin-top: 5rem;
}

.nav-item .active{
  border-style: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #5BE9B9 0%, #6E07F3 100%) 1;
}

.nav-item .active:hover{
  border: none;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #5BE9B9 0%, #6E07F3 100%) 1;
}

.nav-link{
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  transition: 0.3s;
}

.nav-tabs{
  padding-top: 3rem;
}

.nav-tabs .nav-link:hover{
  border-color: transparent;
}

.nav-link:hover{
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.nav-link, .nav-link .active{
  background-color: transparent !important;
}

.nav-item .active{
  color: white !important;
}

.nav-tabs{
  border-bottom: none;
  font-family: "Changa One", serif;
}

.nav-tabs, .tab-content{
  display: flex;
  justify-content: center;
}

.profile-pic {
  max-width: 250px;
}

.profile-pic-about {
  max-width: 150px;
}

.skill-row .skill-item img{
  margin: 5px;
}

.work-title {
  font-family: 'Changa One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.3em;
}