@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: black;
}

h1, h2{
  font-family: 'Bowlby One SC', cursive;
  background: -webkit-linear-gradient(#d2b48c, antiquewhite);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-theme-bottom{
  background-color: blue;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.bg-theme-top{
  background: linear-gradient(-60deg, #581717, #7a2c4a, #452353, #232453);
  position: relative;
  height: 100vh;
}

.animated-color-bg{
  background: linear-gradient(-60deg, #581717, #7a2c4a, #452353, #232453);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.progress-bar{
  font-size: 1.3em;
  font-weight: bold;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@media (min-width: 768px) {
  .line section .card::before{
    background-color: grey;
    content: '';
    height: 100%;
    position: absolute;
    width: 2px;
  }
  
  .line section:nth-child(odd) .card:before{
    right: -14px;
  }
  
  .line section:nth-child(even) .card:before{
    left: -14px;
  }
  
  .line section:last-child .card:before{
    display: none;
  }
  
  .line section .card::after{
    background-color: grey;
    border-radius: 50%;
    content: '';
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .line section .card:hover:after{
    background-color: aqua;
  }
  
  .line section .card:nth-child(odd):after{
    transform: translate(50%, -50%);
    right: -13px;
  }
  
  .line section:nth-child(even) .card:after{
    transform: translate(-50%, -50%);
    left: -13px;
  }
}
